{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-2 center-align">Manage Categories</h3>


<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large teal">
            New Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
        <div class="col s12 m6 l4 xl3">
            <div class="card brown lighten-5">
                <div class="card-content grey-text text-darken-2">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action">
                <a class="teal-text" href="#">Edit</a>
                <a class="teal-text" href="#">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}